<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S & I</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />

</head>
<body>
    <div class="button-container" style="background-color: lightcoral;"> 
        <button onclick="window.location.href='{{ url_for('schedule') }}'">Schedule</button> 
    </div>
    <div class="button-container" style="background-color: lightblue;"> 
        <button onclick="window.location.href='{{ url_for('income') }}'">Income</button>
    </div>

</body>
</html>

